@tailwind base;
@tailwind components;

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #4DC1C3;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #38A3A5;
  }

@tailwind utilities;

* {
    /* border: 1px solid black; */
}
@layer components {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 20px;
        align-items: baseline;
    }

    .cards > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }

    .cards > article img {
        max-width: 100%;
    }

    .cards .text {
        padding: 20px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;
        border-radius: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #afdadb;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #2ec5ce;
        border-radius: 10px;
    }

    /* Handle on hover */
    /* ::-webkit-scrollbar-thumb:hover {
        background: #afdadb;
    } */

    section {
        height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }

    .container {
        height: 100vh;
        scroll-snap-type: y mandatory;        
    }
}
